{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %} 
<div class="container">
    <style>
        h1{
            font-family: "Times New Roman", Times, serif;
            text-align:"centre";
            padding-left:300px;
            margin-top:20px;
        }
        h3{
            font-family: "Times New Roman", Times, serif;
            text-align:"left";
            text-decoration: underline;
            display: flex;  
            flex-wrap: wrap;
            
        }
        p{
            font-family: "Times New Roman", Times, serif;
            text-align:"left"
        }
        h4{
            font-family: "Times New Roman", Times, serif;
            text-align:"left";
        }
    </style>

    <h1 class="name">PRATHAM BHARGAVA</h1>
    
    <h3>Profile</h3>
    <p>
        A CSE student with an optimistic and patience approach towards future. I have been associated
        with software, web-Dev for a very long time. Recently, I participated in the solutions challenge and
        have associated myself with various other hackathons and code programs.
        My main interests include Data Analytics with python, Application and development. I am
        comfortable with languages like JAVASCRIPT, C++, C PYTHON and Node.js My backend skills include
        MYSQL, Mongo. DB
    </p>
    <br>
    <h3>Projects</h3>
    
    <h4>GAME WEBSITE</h4>
    <a href="https://github.com/prathambhargava/GAMEGACY-Website.git
    ">Click here</a>
    <h4>Brightness control with hand detection
    </h4>
    <a href="https://github.com/prathambhargava/Brightness_control_with_hands.git
    ">Click here</a>
    <h4>COMWORLD
    </h4>
    <a href="https://github.com/prathambhargava/COMWORLD.git
    ">Click here</a>


    
</div>
{% endblock body %}